<!doctype html>
<html class="no-js" lang="zxx">
    {% load static %}
    {% load widget_tweaks %}
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Sign Up Page{% endblock %}</title>
        {% load static %}
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/png" href="{% static 'viewPanel/assets/img/favicon.png' %}">

        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'viewPanel/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'viewPanel/assets/css/fontawesome-all.min.css' %}">

        <link rel="stylesheet" href="{% static 'userPanel/css/my_style.css' %}">

        <link rel="stylesheet" href="{% static 'viewPanel/css/my_style.css' %}">


    </head>
    <body>
        <div class="login_page align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-6 log_left">
                        <h3 class="text-success">Online Course </h3>
                        <img class="d-block mb-4" src="{% static 'userPanel/files/PNG/login_img.png' %}"/>
                        <a class="" href="/userPanel/login/">Log In</a>
                    </div>
                    <div class="col-6">
                        <h3 class="text-success">SignUp New Account</h3>
                        {% if messages%}
                            {% for msg in messages %}
                                <h5 class="text-danger">{{ msg }} </h5>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% for field in form.visible_fields %}
                                    <div class="fieldWrapper form-group {{ field.label }}">
                                        {{ field.errors}}
                                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field | add_class:"form-control" }}
                                    </div>
                                {% endfor %}
                               <button class="btn btn-primary mt-3 w-100">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>