{% extends 'html/set_page/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title%} Index Page {% endblock %}

{% block content %}
<div class="mobile-menu-overlay"></div>
<div class="main-container">
		<div class="pd-ltr-20">
			<h3 class="text-success mb-4">Dashboard</h3>
			<div class="row mt_100">
				<div class="col-xl-3 mb-30">
					<a href="">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-message"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">25</div>
									<div class="weight-600 font-14">New Message</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 mb-30">
					<a href="">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-diagram-project"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">400</div>
									<div class="weight-600 font-14">Total Sell</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 mb-30">
					<a href="">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-road"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">350</div>
									<div class="weight-600 font-14">On The Way</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 mb-30">
					<a href="">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-truck-ramp-box"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">$6060</div>
									<div class="weight-600 font-14">Delivered Order</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 mb-30">
					<a href="">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-scale-unbalanced"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">2020</div>
									<div class="weight-600 font-14">Sales Report</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 mb-30">
					<a href="">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-product-hunt"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">2020</div>
									<div class="weight-600 font-14">Product List</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 mb-30">
					<a href="">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-money-bill-wave"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">2020</div>
									<div class="weight-600 font-14">Subject List</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-xl-3 mb-30">
					<a href="/userPanel/logout/">
						<div class="card-box height-100-p widget-style1">
							<div class="d-flex flex-wrap align-items-center">
								<div class="progress-data dashboard_icon">
									<i class="fa-solid fa-right-from-bracket"></i>
								</div>
								<div class="widget-data">
									<div class="h4 mb-0">2020</div>
									<div class="weight-600 font-14">Logout</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
