{% extends 'view_file/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title%} Course {% endblock %}


{% block slider_area %}
<section class="slider-area slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">My Profile</h1>
                                <!-- breadcrumb Start-->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/viewPanel/home/">Home</a></li>
                                        <li class="breadcrumb-item"><a href="/viewPanel/chat/{{request.user.id}}">Chat</a></li>
                                    </ol>
                                </nav>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}

<div class="chat_part">
    <div class="container">
        <div class="row">
            <div class="col-3 chat_left_side">
                <div class="search form-group">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="form-control" type="search" placeholder="Search here" name="search"/>
                        <input class="" type="submit" value="Search"/>
                    </form>
                </div>
                <div class="buyer_list">
                    <img src="asdf" alt="nothing"/>
                    <h4>{{ user.name }}</h4>
                    <p>Online</p>
                </div>
            </div>
            <div class="col-8 chat_right_side">
                <div class="user_profile">
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <div class="chat_list">
                    <div class="">
                        <img src="asdf" alt="nothing"/>
                        <h4>{{ user.name }}</h4>
                        <p>Online</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}